<%= form_for(@lead) do |f| %>
  <% if @lead.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@lead.errors.count, "error") %> prohibited this lead from being saved:</h4>

      <ul>
      <% @lead.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="span4">
  <div class="field">
    <%= f.label :company_name %>
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :company_type %>
    <%= f.text_field :company_type %>
  </div>
    <div class="field">
    <%= f.label :website %>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :contact %>
    <%= f.text_field :contact %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
    <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
</div>
<div class="span4">
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zipcode %>
    <%= f.text_field :zipcode %>
  </div>
  <hr>
  <div class="field">
    <%= f.label :notes, 'Status' %>
    <%= f.text_area :notes, :rows => 2 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
</div>
<% end %>
