<% if user_signed_in? %>
<div>
<table id="leads" class="display table-bordered table-hover">
    <thead>
      <tr>
        <th>Company</th>
        <th class="hidden-tablet hidden-phone hidden-desktop-small">Type</th>
        <th>Contact</th>
<!--         <th class="hidden-tablet hidden-phone hidden-desktop-small">Phone</th>
        <th class="hidden-tablet hidden-phone hidden-desktop-small">Email</th> -->
        <th class="hidden-tablet hidden-phone hidden-desktop-small">Notes</th>
        <th class="hidden-tablet hidden-phone hidden-desktop-small">Updated</th>    
      </tr>
    </thead>
    <tbody>
    <% @leads.each do |lead| %>
      <tr>
        <td><%= link_to lead.company_name, lead %></td>
        <td class="hidden-tablet hidden-phone hidden-desktop-small"><%= lead.company_type %></td>
        <td><%= lead.contact %></td>
<!--         <td class="hidden-tablet hidden-phone hidden-desktop-small"><%= lead.phone %></td>
        <td class="hidden-tablet hidden-phone hidden-desktop-small"><%= lead.email %></td> -->
        <td class="hidden-tablet hidden-phone hidden-desktop-small"><%= lead.notes %></td>
        <td class="hidden-tablet hidden-phone hidden-desktop-small"><%= lead.updated_at.strftime("%d %b %y %H:%M") %></td>    
      </tr>
    <% end %>
    </tbody>
</table>
</div>

<% else %>
<div class="hero-unit">
    <h1>SnapLeads</h1>
    <p>
        Dead simple CRM. You can comment, filter, and sort. That's it.
    </p>
        <br>
    <p>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-large" %>
        or
        <%= link_to "Sign in", new_user_session_path, class: "btn btn-info btn-large" %>
    </p>
</div>

<% end %>





