<%= link_to '<-Back', leads_path, class: "btn btn-primary btn-small" %>
<p id="notice"><%= notice %></p>

<p>
  <h2><%= @lead.company_name %></h2>
    <b><%= @lead.website %></b>
</p>
<hr>
<p>
  <b>Contact:</b>
  <%= @lead.contact %>
</p>

<p>
  <b>Phone:</b>
  <%= @lead.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @lead.email %>
</p>
<p>
  <b>Created:</b>
  <%= @lead.created_at.strftime("%B %d, %Y") %>
</p>
<p>
  <b>Last Updated:</b>
  <%= @lead.updated_at.strftime("%B %d, %Y %I:%M%p") %>
</p>

<p>
  <b>Notes:</b>
  <%= @lead.notes %>
</p>

<%= link_to 'Edit', edit_lead_path(@lead), class: "btn btn-small"  %> |
<%= link_to 'Delete', @lead, method: :delete, data: { confirm: 'Are you sure?' } %>

<p>
  <b>User:</b>
  <%= @lead.user_id %>
</p>